.label {
  font-size: 14px;
  font-weight: 600;
}

.textarea {
  margin-bottom: 20px;
  padding: 0.67857143em 1em;
  min-width: 100%;
  max-width: 100%;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.error {
  height: 20px;
  color: red;
}
