.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 0;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 8px;
  text-align: center;
}

.footer {
  align-self: self-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 12px;
}
