.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  overflow: auto;
}

.header {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.header > div:last-child {
  flex: 1 0 0;
}

.body {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  text-align: center;
  word-wrap: break-word;
}

.body > div:last-child {
  flex: 1 0 0;
}

.footer {
  align-self: self-end;
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 12px;
}
